* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100vw;
    height: 10vh;
    background-color: rgb(0, 0, 0);
  }

.brand{
    display: flex;
    flex-direction: row;
}

.navigation{
    font-size: 1em;
    margin-left: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.navigation li{
    list-style-type: none;
    padding: 20px;
}

.navigation a{
    color: white;
    text-transform: capitalize;
}

.right{
    display: flex;
    align-items: center;
}

.hyperlink{
    text-decoration: none;
}

.hyperlink:hover{
    color: rgb(49, 44, 44);
}

.Searchbox{
    display: flex;
    align-items: center;
    background-color: silver;
    border-radius: 20px;
    margin: 10px;
    width: 27vw;
    height: 4vh;
}

.Searchbox img{
    width: 5%;
    height: 50%;
    margin-right: 10px;
}

.Searchbox input{
    background-color: silver;
    width: 27vw;
    height: 3vh;
    border: none;
    border-radius: 20px;
    padding: 0.5%;
    margin: 5px
}

.profile{
    display: flex;
}

.profile img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.Logo {
    position: absolute;
    display: flex;
    top: 0;
    left: 5px;
}
  
.Logo img {
    width: 28%;
    height: 28%;
}

#Main-Page{
    background-color: black;
    width: 100vw;
    height: 195vh;
}

#Main-Page h2{
    font-size: 2em;
    margin-left: 45px;
    padding: 15px;
    color: aliceblue;
}

.movie-container{
    border-radius: 25px;
    margin-left: 25px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(49, 44, 44);
    width: 95vw;
    height: 180vh;
}

.m-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
}

.moviePic img{
    margin: 10px;
    width: 30vw;
    height: 30vh;
}

.movieDecs{
    color: aliceblue;
    padding: 10px;
}

.movieDecs h1{
    font-size: 2.5em;
    color: aliceblue;
}

.movieDecs h1:hover{
    text-decoration: underline;
    transition: transform 1.5s ease-in-out;
}

.genre-container{
    display: flex;
    flex-direction: row;
}

.g-container{
    background-color: rgb(103, 91, 91);
    border-radius: 20px;
    margin: 5px;
    margin-bottom: 10px;
    border: 5px;
    width: 10vw;
    height: 3vh;
}

.g-container h3{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5px;
}

.movieDecs h4{
    font-size: 1em;
    margin: 5px;
    margin-bottom: 15px;
    width: 50vw;
}

.button-container{
    display: flex;
    flex-direction: row;
}

.play-button{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    height: 4vh;
    border-width: 2px;
    width: 5vw;
}

.play-button:hover{
    background-color: rgb(89, 87, 87);
}

.play-button h3{
    color: rgb(255, 255, 255);
}

.play-button h3:hover{
    color: rgb(0, 0, 0);
}

.downloadbutton{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    height: 4vh;
    border-width: 2px;
    width: 8vw;
}

.downloadbutton:hover{
    background-color: rgb(133, 7, 7);
}

.downloadbutton h3{
    color: aliceblue;
}

.downloadbutton h3:hover{
    color: black;
}

.foot{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100vw;
    height: 40vh;
    background-color: rgb(30, 30, 30);
}

.foot-wrap h2{
    color: red;
    font-size: 2em;
}

.foot-wrap h3{
    color: rgb(193, 50, 50);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.foot-wrap{
    justify-content: center;
    text-align: center;
}

.contact{
    padding-left: 30px;
}

.contact h4{
    color: white;
    padding: 5px;
    font-size: 1.5rem;
}

.c-container{
    padding: 10px;
}

.c-contact{
    align-items: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.c-contact img{
    width: 2vw;
    height: 3.4vh;
}

.c-contact h3{
    color: white;
    font-size: 1em;
    margin-left: 10px;
}

@media (max-width : 768px){
    .wrap{
        width: 100vw;
        font-size: 0.8em;
        height: 4vh;
    }
    .Logo img{
        width: 10%;
        height: 10%;
    }
    .navigation{
        margin-left: 15px;
        display: flex;
        flex-direction: row;
    }
    .navigation li{
        list-style-type: none;
        padding: 10px;
    }
    .Searchbox{
        width: 23vw;
        height: 2.5vh;
        margin: 5px;
    }
    .Searchbox img{
        width: 2.5vw;
        height: 2vh;
        margin-right: 20%;
    }
    .Searchbox input{
        width: 18vw;
        height: 1.5vh;
    }
    .Masuk{
        width: 9vh;
        height: 2.5vh;
    }
    .profile img{
        width: 25px;
        height: 25px;
    }
    #Main-Page{
        width: 100vw;
        height: 135vh;
    }
    #Main-Page h2{
        font-size: 1.5em;
        margin-left: 40px;
        padding: 10px;
    }
    .movie-container{
        margin-left: 25px;
        padding-left: 10px;
        padding-top: 10px;
        width: 90vw;
        height: 125vh;
    }
    .m-container{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .moviePic img{
        width: 35vw;
        height: 20vh;
    }
    .movieDecs{
        padding: 10px;
    }
    .movieDecs h1{
        font-size: 1.5em;
    }
    .g-container{
        margin: 3px;
        margin-bottom: 5px;
        width: 12vw;
        height: 2.5vh;
    }
    .g-container h3{
        font-size: 0.7em;
        padding: 2px;
    }
    .movieDecs h4{
        font-size: 0.5em;
        margin-bottom: 10px;
        width: 45vw;
    }
    .play-button{
        height: 3vh;
        width: 5vw;
    }
    .play-button h3{
        font-size: 0.7em;
    }
    .downloadbutton{
        height: 3vh;
        width: 8vw;
    }
    .downloadbutton h3{
        font-size: 0.6em;
    }
    .foot{
        padding: 10px;
        width: 100vw;
        height: 26vh;
    }
    .foot-wrap h2{
        font-size: 1.5em;
    }
    .foot-wrap h3{
        font-size: 0.8em;
        margin-bottom: 5px;
    }
    .contact{
        padding-left: 15px;
    }
    .contact h4{
        padding: 3px;
        font-size: 1rem;
    }
    .c-container{
        padding: 3px;
    }
    .c-contact{
        padding: 3px;
    }
    .c-contact img{
        width: 2vw;
        height: 1.7vh;
    }
    .c-contact h3{
        color: white;
        font-size: 0.7em;
        margin-left: 5px;
    }
}